<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ant Design Pro</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>

  <script src='https://webapi.amap.com/maps?v=1.4.15&key=50806ccb34a992295bfa5e5836f922e3'></script>
  <script src='https://webapi.amap.com/ui/1.0/main.js?v=1.0.11'></script>
  <script src='https://gw-office.alipayobjects.com/bmw-prod/dfbc48ee-f342-46d0-9e79-a7b4a5633bbb.js'></script>
  <script src= 'https://webapi.amap.com/maps?v=1.4.15&key=50806ccb34a992295bfa5e5836f922e3&plugin=Map3D,AMap.DistrictLayer,AMap.Scale,AMap.ToolBar,AMap.DistrictSearch,AMap.Geocoder,AMap.Autocomplete,AMap.PlaceSearch'></script>
</head>
<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>
</html>
